.btn{
    background-image: url(images.png);
    background-size:contain;
    height: 10px;
    width:25px;
}
p{
    text-align:center;
    color:black;
}
h2{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size-adjust: 25px;
    font-style: oblique;
    text-align: center;
    text-emphasis;
}

.card a{
    text-decoration: underline;
    color: gray;
}

.button1 button{
    width: 500px;
    font-stretch:ultra-expanded;
    border-radius:25px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    background-color: #148fb8;
    color:white;
}
.button2 button{
    opacity: 0.5;
    width: 500px;
    height: 50px;
    border-radius:25px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.button3 button{
    width: 20px;
    height:20px;
    border-radius:25px;
    background-image: url(apple.png)
    
}
.text-right button{
    object-fit: scale-down;
    background-image: url(images.png)
     padding: 8px 8px 8px 32px;
    font-family: Arial, Verdana;   
    background-position: 8px 8px;
    background-repeat: no-repeat;
    
}
.button4 button{
    color: white;
    background-color: white;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.link2 {
        text-align: center;
}
body{
    background-image: url(Tinder-logo.jpeg)
}
.row{
    background-color: white;
}
.container{
height: 100%;
    width: 100%
align-content: center;
}
.card{
height: 550px;
margin-top: 25px;
margin-bottom: auto;
width: 600px;

